html, body {
	width: 100%;
	height: 100%;

	text-align: center;
	background: #222;
	color: #CCC;

	font-family: Helvetica;
	font-weight: 300;
}

h1 {
	font-weight: 300;
	font-size: 3em;

	color: #F74;

	position: fixed;
	left: 0;
	right: 0;
}

form {
	height: 100%;
	box-sizing: border-box;
	padding: 3%;

	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	white-space: nowrap;
}
input[type=range] {
	margin-top: 7%;
	margin-right: 7%;

	width: 30px;
	height: 80%;

	-webkit-appearance: slider-vertical;
}